html, body {
  background-color: #ffc107;
}

.first-color-bg {
    background-color: #ffc107;
}

.first-color {
    color: #ffc107;
}

.grey-text {
    color: #616161;
}

.link-text:hover {
    opacity:90%;
}